@font-face {
  font-family: Magic School;
  src: url('../fonts/magicSchoolOne.ttf');
}

body {
  background-color: #3b3838;
}

#welcome .card {
  justify-content: center;
  align-items: center;
  border: none;
  margin: 20px 0;
  background-color: #3b3838;
  color: white;
}

#welcome .sorting-hat {
  width: 40%;
  height: 60%;
  margin: 1rem;
}

#welcome .card-body {
  flex: 1;
  text-align: center;
  margin: 2rem 6rem;
}

#welcome .card-title {
  padding: .4rem 0 .8rem 0; 
  border-bottom: 1px solid white;
  text-shadow: -2px 2px 2px black;
  font-family: 'Magic School', cursive;
  font-size: 3rem;
}

#welcome .card-text {
  padding-top: .8rem;
  font-size: 1.3rem;
  font-style: italic;
  text-shadow: -2px 2px 2px black;
}

.sort-btn {
  background-color: #7f0909;
  color: #ffc500;
  font-weight: 600;
  padding: .6rem .6rem;
  border: none;
}

.sort-btn:hover {
  background-color: #740001;
  color: #ffc500;
}


