@font-face {
  font-family: Magic School;
  src: url('../fonts/magicSchoolOne.ttf');
}

body {
  background-color: #3b3838;
}

/* WELCOME */

#welcome .card {
  justify-content: center;
  align-items: center;
  border: none;
  margin: 20px 0;
  background-color: #3b3838;
  color: white;
}

#welcome .sorting-hat {
  width: 40%;
  height: 60%;
  margin: 1rem;
}

#welcome .card-body {
  flex: 1;
  text-align: center;
  margin: 2rem 6rem;
}

#welcome .card-title {
  padding: .4rem 0 .8rem 0; 
  border-bottom: 1px solid white;
  text-shadow: -2px 2px 2px black;
  font-family: 'Magic School', cursive;
  font-size: 3rem;
}

#welcome .card-text {
  padding-top: .8rem;
  font-size: 1.3rem;
  font-style: italic;
  text-shadow: -2px 2px 2px black;
}

.sort-btn {
  background-color: #7f0909;
  color: #ffc500;
  font-weight: 600;
  padding: .6rem .6rem;
  border: none;
}

.sort-btn:hover {
  background-color: #740001;
  color: #ffc500;
}

/* FORM */

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  gap: 1rem;
}

.col-sm-10 {
  width: 56%;
  height: 100%;
}

#form-label {
  flex: 0;
  color: #ffc500;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: -2px 2px 2px black;
  margin: 0; 
}

.sort-btn-2 {
  background-color: #7f0909;
  color: #ffc500;
  font-weight: 600;
  border: none;
  padding: .30rem .52rem;
}

.sort-btn-2:hover {
  background-color: #740002;
  color: #ffc500;
}

/* CARDS */

#sorting {
  display: flex;
  /* justify-content: space-evenly; */
  margin: 6rem 6rem;
  gap: 4rem;
}

#studentCards {
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: 55%;
}

#voldArmy {
  border: 1px solid white;
  flex: 1
}

.card {
  background-color: #3b3838;
  border: none;
  color: white;
  font-weight: 600;
  text-shadow: -2px 2px 2px black;
}
