* {
  -webkit-tap-highlight-color: transparent !important;
}

body {
  background-color: #3b3838;
  font-family: 'Lakki Reddy', cursive;
}

/* WELCOME */

#sortHat {
  justify-content: center;
  align-items: center;
  border: none;
  margin: 20px 0;
  background-color: #3b3838;
  color: white;
}

#welcome-button {
  background-color: #3b3838;  
}

#welcome .sorting-hat {
  width: 40%;
  height: 60%;
  margin: 1rem;
}

#welcome .card-body {
  flex: 1;
  text-align: center;
  margin: 2rem 6rem;
}

#welcome .card-title {
  padding: .4rem 0 .8rem 0; 
  border-bottom: 1px solid white;
  text-shadow: -3px 4px 3px black;
  font-family: 'Lakki Reddy', cursive;
  font-size: 3rem;
}

#welcome .card-text {
  padding-top: .8rem;
  font-size: 1.3rem;
  font-style: italic;
  text-shadow: -2px 2px 2px black;
}

.sort-btn {
  background-color: #3b3838;
  color: #ffd800;
  border: none;
}

/* FORM */

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  gap: 1rem;
}

.col-sm-10 {
  width: 25%;
  height: 100%;
}

#form-label {
  flex: 0;
  color: #ffd800;
  font-size: 1.2rem;
  font-weight: 400;
  text-shadow: -2px 2px 2px black;
  margin: 0;
  padding-top: 0.5rem;
  font-family: 'Lakki Reddy', cursive;
  font-size: 1.4rem;
}

.sort-btn-2 {
  background-color: #3b3838;
  color: #ffd800;
  font-weight: 400;
  font-family: 'Lakki Reddy', cursive;
  text-shadow: -2px 2px 2px black;
  border: none;
  padding: .30rem .52rem;
}

.sort-btn-2:hover {
  background-color: #3b3838;
  color: #ffd800;
}

#filterContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* CARDS */

#sorting {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 6rem;
  gap: 4rem;
}

#studentCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 50%;
}

#deathEaters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1.5rem;
}

#student {
  background-color: #3b3838;
  border: none;
  color: white;
  font-weight: 600;
  text-shadow: -2px 2px 2px black;
}

.card-text {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Lakki Reddy', cursive;
  padding-top: 1rem;
}

#death-eater {
  background-color: #3b3838;
  border: none;
  color: white;
  font-weight: 600;
  text-shadow: -2px 2px 2px black;
  width: 40%;
}

b {
  font-style: italic;
  color: #2E9841;
}

.death-card {
  text-align: center;
}

#voldermort {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.img-fluid {
  filter: drop-shadow(-20px 10px 4px black)
}

.col-md-8 {
  align-self: center;
}

.card-title {
  font-size: 1.6rem;
}

/* BUTTONS */

.house {
  background-color: #3b3838;
  border: 0px solid #3b3838;
  color: white;
  font-family: 'Lakki Reddy', cursive;
  font-size: 1.5rem;
  text-shadow: -2px 2px 2px black;
}

.house:hover {
  background-color: #3b3838;
  color: white;
}
